<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav>
          <div class="topnav">
            <%= link_to "sample app", root_path, id: "logo" %>
            <%= link_to "Home",   root_path %>
            <%= link_to "Help",   help_path %>
            <%= link_to "Log in", '#' %>
          </div>
        </nav>

    </header>

    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
